<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>713927226541-f5sr2rsqq3aa073g7eum2jr2of43flt3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.713927226541-f5sr2rsqq3aa073g7eum2jr2of43flt3</string>
	<key>API_KEY</key>
	<string>AIzaSyDC24FzgFHxGf3_wz3ryB4ydcLZfI8c8po</string>
	<key>GCM_SENDER_ID</key>
	<string>713927226541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tctech.fiberchatdemo</string>
	<key>PROJECT_ID</key>
	<string>rbpessacash</string>
	<key>STORAGE_BUCKET</key>
	<string>rbpessacash.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:713927226541:ios:80bae4bf33fa50f6a60224</string>
	<key>DATABASE_URL</key>
	<string>https://rbpessacash-default-rtdb.firebaseio.com</string>
</dict>
</plist>